/node_modules
/public/hot
/public/storage
/public/themes
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/vendor
.vscode
.idea
.idea/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer-setup.php
.DS_Store
*.map
style.css.map
style_neha.css.map
